<ul class="inline-list social-icons">
  {%- if settings.social_twitter_link != blank -%}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}" target="_blank" aria-describedby="a11y-new-window-external-message">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-560881>Twitter</ls-static-560881></span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}" target="_blank" aria-describedby="a11y-new-window-external-message">
        <span class="icon icon-facebook" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-810826>Facebook</ls-static-810826></span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}" target="_blank" aria-describedby="a11y-new-window-external-message">
        <span class="icon icon-pinterest" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-862295>Pinterest</ls-static-862295></span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}" target="_blank" aria-describedby="a11y-new-window-external-message">
        <span class="icon icon-instagram" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-736617>Instagram</ls-static-736617></span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}" target="_blank" aria-describedby="a11y-new-window-external-message">
        <span class="icon icon-snapchat" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-690969>Snapchat</ls-static-690969></span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}" target="_blank" aria-describedby="a11y-new-window-external-message">
        <span class="icon icon-tumblr" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-260934>Tumblr</ls-static-260934></span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}" target="_blank" aria-describedby="a11y-new-window-external-message">
        <span class="icon icon-youtube" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-765730>YouTube</ls-static-765730></span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}" target="_blank" aria-describedby="a11y-new-window-external-message">
        <span class="icon icon-vimeo" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-827860>Vimeo</ls-static-827860></span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_fancy_link != blank -%}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}" target="_blank" aria-describedby="a11y-new-window-external-message">
        <span class="icon icon-fancy" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-29291>Fancy</ls-static-29291></span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_rss_link != blank -%}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_rss_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'RSS' }}" target="_blank" aria-describedby="a11y-new-window-external-message">
        <span class="icon icon-rss" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-891784>RSS</ls-static-891784></span>
      </a>
    </li>
  {%- endif -%}
</ul>
